@font-face {
    font-family: styreneaweb-regular;
    src: local("styreneaweb-regular"),
     url("../assets/fonts/styreneaweb-regular.ttf") format("truetype");
    font-weight: normal;
}

:global * {
    box-sizing: border-box;
    font-family: styreneaweb-regular, sans-serif;
}

:global body {
    margin: 0;
    padding: 0;
}

:global a {
    outline: none;
    text-decoration: none;
    color: #000;
}

:global ul {
    padding-left: unset;
    margin: unset;
    list-style-type: none;
}

:global h2 {
    margin: 0;
}